# Data Analytics using Python

Mandisa Nkosi is working with with a political party that needs to decide how best to invest its available advertising budget. Mandisa believes she can gain some insights into potential advertising avenues by analysing films that are available on streaming platforms.

This analysis uses the movies_merge.xlsx and ott_merge.csv data sets.

Objectives:
1. How many films from each year (released from 2012 to the present) were watched on Netflix?
2. What is the average runtime of movies released each year?
3. What are the best and worst reviews that movies released each year received on Rotten Tomatoes?

The insights gained from the analysis will inform the campaign, promotional materials, slogans, and language the political party will use to reach potential voters

# Prepare the workstation

In [1]:
# Import pandas
import pandas as pd

# Load the excel data
movies = pd.read_excel('movies_merge.xlsx')

# Load the csv data
ott = pd.read_csv('ott_merge.csv')

# View data imported
print(movies.columns)
print(movies.shape)
print(ott.columns)
print(ott.shape)

# Merge the two dataframe
movies_ott = pd.merge(movies, ott, how='left', on='ID')

# View the merged dataframe
print(movies_ott.columns)
print(movies_ott.shape)

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime'],
      dtype='object')
(16744, 11)
Index(['ID', 'Netflix', 'Hulu', 'Prime Video', 'Disney+'], dtype='object')
(16744, 5)
Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+'],
      dtype='object')
(16744, 15)

# 1. How many films from each year (release frm 2012 to the present) were watched on Netflix?

In [2]:
# Determine the number of movies watched on Netflix since 2012
movies_gpby = movies_ott.groupby(['Year'])['Netflix'].agg('sum').reset_index()
movies_gpby[movies_gpby['Year'] >= 2012]

     Year  Netflix
100  2012      195
101  2013      200
102  2014      202
103  2015      252
104  2016      236
105  2017      294
106  2018      307
107  2019      138
108  2020       31

# 2. What is the runtime of movies released each year

In [3]:
# Determine the average runtime of movies released since 2012
movies_gpby = movies_ott.groupby(['Year'])['Runtime'].agg('mean').reset_index()
movies_gpby[movies_gpby['Year'] >= 2012]

     Year    Runtime
100  2012  90.511714
101  2013  91.545940
102  2014  92.995763
103  2015  92.914646
104  2016  93.992140
105  2017  94.460961
106  2018  94.635678
107  2019  93.410413
108  2020  93.976562

# 3. What are the best and worst reviews that movies released each year received on Rotten Tomatoes

In [7]:
# Determine what was the maximum and minimum review received by Rotten Tomatoes for any movie per year since 2012?
movies_gpby = movies_ott.groupby(['Year'])['Rotten Tomatoes'].agg(['min', 'max']).reset_index()
movies_gpby[movies_gpby['Year'] > 2012]

     Year   min  max
101  2013  0.02  1.0
102  2014  0.05  1.0
103  2015  0.05  1.0
104  2016  0.02  1.0
105  2017  0.04  1.0
106  2018  0.06  1.0
107  2019  0.05  1.0
108  2020  0.06  1.0